*.DS_Store

# ignore the generated outputs; you can generate any time you want by running main.py
FA*/
SU*/
SP*/
html*/

__pycache__
*.pyc

netids.txt
netids.raw

*.csv
*.json
*.jsonl
*.db

reddit/reddit_key.json

*.env

# Do not ignore the spiders directory
!spiders/