@import "./../css/util.scss";

.dashboard {
  @include shadow;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: min(80%, 1000px);
  margin-top: 80px;
}

.selector {
  margin: 20px;
  height: fit-content;
  width: fit-content;
}