@import "./../css/util.scss";

.sign-up {
  width: 100%;
}

.sign-up-box {
  @include shadow;
  background-color: $soft-white;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: min(80%, 500px);
  margin-left: auto;
  margin-right: auto;
  padding: 35px;
}

.sign-up-header {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}

.sign-in-button {
  @include shadow;
  border-radius: 8px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s;
  background-color: $bright-red;

  &:hover {
    background-color: #4CAF50;
  }
}